html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #334155;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    overflow: hidden;
    font-size: 50px;
}

.header {
    text-align: center;
    padding: 25px;
    background-color: #1e293b;
    color: #fff;
    font-size: 1.5em;
    border-radius: 15px;
}

.content {
    display: flex;
    flex: 1;
    padding: 10px;
    overflow: hidden;
}

.box {
    flex: 1;
    background-color: #94a3b8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    border-radius: 15px;
}

.box.middle {
    overflow-y: auto;
    background-color: #334155;
}

.qr-code,
.time-box {
    height: 100%;
    background-color: #334155;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
    font-size: 60px;
}

.date-box,
.image-placeholder {
    height: 100%;
    background-color: #334155;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    font-size: 63px;
}

.image-placeholder img,
.qr-code img {
    width: 60%;
    height: auto;
    cursor: pointer;
    border-radius: 15px;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.overlay img {
    width: auto;
    height: 50vh;
    max-width: 50vw;
    max-height: 50vh;
    object-fit: contain;
    border-radius: 15px;
}